footer{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    border-top: 1px solid white;
    background: rgb(5, 5, 5);
}
.footer-container{
    display: flex;
}
footer a{
    text-decoration: none;
    width: 50px;
    height: 50px;
}
footer img{
    width: 50px;
    height: 50px;
}

.footer-title{
    font-size: 2rem;
}
.social-media{
    margin: 10px;
}
.rrss{
    width: 40px;
    margin: 0 5px;
    cursor: pointer;
}
footer .rights{
    font-size: 1rem;
}