main{
    overflow-x: hidden;
}
.container{
    margin-bottom: 100px;
}
.container-image{
    justify-self: flex-end;
    grid-area: image;
    width: 50%;
}
.container-button{
    transition: 200ms;
}
.container-button:hover{
    background-color: rgb(0, 143, 179);
}


.container-title{
    font-size: 5.1rem;
}
.fotos .container-description{
    font-size: 3rem;
    top: -88px;
}
.fotos .container-button{
    top: -160px;
}

.web .container-description{
    top: -70px;
}
.web .container-button{
    top: -120px;
}


.av .container-image{
    justify-self: flex-start;
    grid-area: image;
    width: 65%;
}

footer{
    display: flex;
    justify-content: center;
    width: 100vw;
    border-top: 1px solid white;
}