*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    scroll-behavior: smooth;
    font-size: 1.6rem;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
}
main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.background{
    position: absolute;
    width: 100%;
}
.content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: auto;
    margin: 0 auto;
    transform: translateY(100px);
}
.container{
    display: grid;
    grid-template: repeat(4, auto) / 100%;
    grid-template-areas: 
    "title"
    "description"
    "image"
    "button";
    width: 90vw;
    height: auto;
    margin-bottom: 50px;
}
.container-title{
    font-size: 3rem;
    margin: 20px 0 0 ;
}
.container-description{
    font-size: 1.5rem;
    margin: 15px 0;
}
.container-subtitle{
    font-size: 2rem;
    margin: 15px 0;
}
.container-image{
    border-radius: 10px;
    width: 100%;
}
@media (min-width: 1080px){
    .container-image{
        width: 50%;
    }
}
.container-button{
    grid-area: button;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 150px;
    height: 40px;
}
.youtube{
    margin-bottom: 200px;
}
.youtube-box{
    transform: translateY(50px);
}
.container-video{
    width: 100%;
    height: 25vh;
    padding: 20px 0;
}
@media(min-width: 600px){
    .container-video{
        height: 50vh;
    }
}
@media(min-width: 1080px){
    .container-video{
        height: 75vh;
    }
}
.light{
    width: 20px;
    height: 20px;
}
.blue{
    position: relative;
    top: 100vh;
    background-color: rgb(126, 180, 224);
    box-shadow: 0 0 100px 100px rgb(126, 180, 224) , 0 0 300px 300px rgb(0, 103, 187);
}
.red{
    position: relative;
    top: 225vh;
    /* left: 100vw; */
    background-color: rgb(207, 125, 125);
    box-shadow: 0 0 100px 100px rgb(207, 125, 125), 0 0 300px 300px rgb(219, 0, 0);
}
.green{
    position: relative;
    top: 350vh;
    background-color: rgb(148, 122, 165);
    box-shadow: 0 0 100px 100px rgb(148, 122, 165), 0 0 300px 300px rgb(132, 0, 209);
}